<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.3" targetFramework="net452" />
  <package id="AutoFixture.AutoRhinoMocks" version="3.50.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.19.3" targetFramework="net452" />
  <package id="HoneyBear.HalClient" version="1.1.115" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
  <package id="SemanticComparison" version="3.50.3" targetFramework="net452" />
  <package id="SemanticComparisonExtensions" version="0.2.0" targetFramework="net452" />
  <package id="Tavis.UriTemplates" version="1.1.1" targetFramework="net452" />
  <package id="WebApi.Hal" version="2.6.0" targetFramework="net452" />
</packages>