<div *ngIf="!showJobForm && !showScheduleForm">
    <div class="page-header">
        <h1>Jobs</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon" id="search-terms">Search</span>
                    <input #searchBox type="text" class="form-control" placeholder="Search terms..." aria-describedby="search-terms"(keyup)="searchJobs(searchBox.value)">
                </div>
            </div>
            <div class="col-sm-3 col-lg-offset-4">
                <button type="button" class="btn btn-primary" (click)="showJobForm=true">Create Job</button>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="alert alert-success alert-dismissible col-md-8" role="alert" *ngIf="success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="success=null"><span aria-hidden="true">&times;</span></button>
            {{success}}
        </div>
    </div>

    <p *ngIf="searching"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> <em>Loading...</em></p>

    <div class="row">
        <div class="col-md-8 panel">
            <table class="table table-hover" *ngIf="!searching">
                <thead>
                    <tr title="Sort">
                        <th (click)="sortJobs('jobId')" role="button">Job ID</th>
                        <th (click)="sortJobs('description')" role="button">Description</th>
                        <th (click)="sortJobs('created')" role="button">Created</th>
                        <th (click)="sortJobs('callbackUrl')" role="button">Callback URL</th>
                        <th (click)="sortJobs('httpVerb')" role="button">Verb</th>
                        <th (click)="sortJobs('contentType')" role="button">Content Type</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of jobs" [ngClass]="{'active': selectedJob && selectedJob.jobId == job.jobId}" role="button">
                        <td (click)="showJob(job)">{{job.jobId}}</td>
                        <td (click)="showJob(job)">{{job.description}}</td>
                        <td (click)="showJob(job)">{{job.createdUtc + 'Z' | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td (click)="showJob(job)">{{job.callbackUrl}}</td>
                        <td (click)="showJob(job)">{{job.httpVerb}}</td>
                        <td (click)="showJob(job)">{{job.contentType}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" (click)="deleteJob(job)" title="delete">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="page.totalItemsCount == 0">
                        <td colspan="7">No jobs found.</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="page.knownPagesAvailable > 1">
                    <tr>
                        <td colspan="7">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li *ngIf="page.pageIndex > 0" (click)="fetchJobs(page.pageIndex - 1)">
                                        <a href="javascript:void(0)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li *ngFor="let index of range(page.knownPagesAvailable)" (click)="fetchJobs(index)" [ngClass]="{'active': index == page.pageIndex}">
                                        <a href="javascript:void(0)">{{index + 1}}</a>
                                    </li>
                                    <li *ngIf="page.pageIndex < page.knownPagesAvailable - 1" (click)="fetchJobs(page.pageIndex + 1)">
                                        <a href="javascript:void(0)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4 panel" *ngIf="selectedJob">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Job Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Job ID</td>
                        <td>{{selectedJob.jobId}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{selectedJob.description}}</td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td>{{selectedJob.createdUtc + 'Z' | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Callback URL</td>
                        <td>{{selectedJob.callbackUrl}}</td>
                    </tr>
                    <tr>
                        <td>HTTP Verb</td>
                        <td>{{selectedJob.httpVerb}}</td>
                    </tr>
                    <tr>
                        <td>Payload</td>
                        <td>{{selectedJob.payload}}</td>
                    </tr>
                    <tr>
                        <td>Content Type</td>
                        <td>{{selectedJob.contentType}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="showScheduleForm=true">Create Schedule</button>
                            <button type="button" class="btn btn-info" (click)="viewSchedules()">View Schedules</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div *ngIf="showJobForm">
    <div class="page-header">
        <h1>Create Job</h1>
    </div>
    
    <div class="row">
        <div class="alert alert-danger alert-dismissible col-md-8" role="alert" *ngIf="errors.length > 0">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetErrors()"><span aria-hidden="true">&times;</span></button>
            <ul>
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
        </div>
    </div>

    <div>
        <form [formGroup]="jobForm" novalidate (ngSubmit)="createJob(jobForm.value)" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Try to use a naming convention, e.g. <product>-<component>-<task>" formControlName="description" maxlength="250">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Callback URL</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="The URL to call to perform the task, e.g. https://api.megacorp.com/sellshares/123." formControlName="callbackUrl">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">HTTP Verb</label>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="httpVerb">
                        <option>POST</option>
                        <option>PUT</option>
                        <option>DELETE</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Payload</label>
                <div class="col-md-6">
                    <textarea class="form-control" placeholder="e.g. { 'property01': 'value', 'property02': 'value' }" formControlName="payload" rows="6"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Content Type</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="e.g. application/json" formControlName="contentType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Headers</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="e.g. source=Jobbie.Sample.Client.WebApi.Host;authorization=basic abc123" formControlName="headers">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-6">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" (click)="showJobForm=false">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="showScheduleForm">
    <div class="page-header">
        <h1>Create Schedule <small>for job <strong>{{selectedJob.description}}</strong></small></h1>
    </div>
    
    <div class="row">
        <div class="alert alert-danger alert-dismissible col-md-8" role="alert" *ngIf="errors.length > 0">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetErrors()"><span aria-hidden="true">&times;</span></button>
            <ul>
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
        </div>
    </div>

    <div>
        <form [formGroup]="scheduleForm" novalidate (ngSubmit)="createSchedule(scheduleForm.value)" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Try to use a naming convention, e.g. <product>-<component>-<job>-<schedule>" formControlName="description" maxlength="250">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Start Time (Local)</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" formControlName="startLocal">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">End Time (Local)</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" formControlName="endLocal">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Cron Expression</label>
                <div class="col-md-6">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="sr-only">Seconds</label>
                                <input type="text" class="form-control" formControlName="cron1" style="width: 60px" (keyup)="setCron()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="sr-only">Minutes</label>
                                <input type="text" class="form-control" formControlName="cron2" style="width: 60px" (keyup)="setCron()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="sr-only">Hours</label>
                                <input type="text" class="form-control" formControlName="cron3" style="width: 60px" (keyup)="setCron()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="sr-only">Day of the Month</label>
                                <input type="text" class="form-control" formControlName="cron4" style="width: 60px" (keyup)="setCron()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="sr-only">Month</label>
                                <input type="text" class="form-control" formControlName="cron5" style="width: 60px" (keyup)="setCron()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="sr-only">Day of the Week</label>
                                <input type="text" class="form-control" formControlName="cron6" style="width: 60px" (keyup)="setCron()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="sr-only">Cron</label>
                                <input type="text" class="form-control" formControlName="cron" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-6">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" (click)="showScheduleForm=false">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
